---
name: Checks

on: [push]

jobs:
  test-lint:
    name: Test and Lint
    runs-on: ubuntu-latest

    steps:
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Tests
        run: docker compose -f docker-compose.local.yml run --rm web sh -c "while ! pg_isready -h db -p 5432 -U myuser; do sleep 1; done && pytest"

      - name: Run Linter
        run: docker compose -f docker-compose.local.yml run --rm web sh -c "flake8"
